
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>New Post</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="assets/ionicons.min.css" rel="stylesheet">
  <link href="assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/magnific-poApup.css" rel="stylesheet">
  <link href="assets/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="assets/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="assets/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="assets/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="assets/favicon.png">

  <!-- =======================================================
    Theme Name: Folio
    Theme URL: https://bootstrapmade.com/folio-bootstrap-portfolio-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>


  <!-- start section main content -->
  <div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  
                  <div class="content-main single-post padDiv">
                    <div class="journal-txt">
                 <h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

                     <br>
                    </div>
    

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div> -->
  <!-- start section main content -->

  

  <!-- JavaScript Libraries -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/jquery-migrate.min.js"></script>
  <script src="assets/bootstrap.bundle.min.js"></script>
  <script src="assets/typed.js"></script>
  <script src="assets/owl.carousel.min.js"></script>
  <script src="assets/magnific-popup.min.js"></script>
  <script src="assets/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="assets/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="assets/main.js"></script>

</body>

</html>


